header,
#counter,
#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #1abccc;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img {
  width: 100px;
  height: 100px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
